<h1>You're a member of these teams:</h1>

<% @teams.each do |team|%>
<ul>
  <li><a href="/teams/<%=team["id"]%>"><%=team["name"]%></a><br></li>
</ul>

<% end %>

<a href="/teams/new"> Add a New Team </a>--<a href="/groupings/new"> Join a Team </a><br><br>

