<h1><%= @team["name"]%> team members:</h1>

<% @users.each do |user|%>
<ul>
  <li><%=user["name"]%></li>
</ul>
<% end %>

<h1><%= @team["name"]%> team tasks:</h1>
<% @tasks.each do |task|%>
<ul>
  <li><%=task["name"]%><br></li>
</ul>
<% end %>

<a href="/teams"> Back to your teams </a>
