<% @tasks.each do |task|%>
<a href="/tasks/<%=task["id"]%>"><%=task["name"]%></a><br>
<% end %>
<ul>
  <li><a href="/tasks/new"> Add a New Task </a></li>
  <li><a href="/teams"> Your teams </a></li>
</ul>
